.footer {
  position: relative;

  height: 100dvh;
  min-height: 668px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  place-items: center;

  margin-block-start: 40px;
}

.footer__title {
  font-weight: var(--font-weight-bold);

  font-size: 116px;

  line-height: 83%;
  color: var(--secondary-color);

  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .footer__title {
    font-size: 120px;
  }
}

@media (width >= 1024px) {
  .footer__title {
    font-size: 157px;
  }
}
