.footer {
  position: relative;

  height: 100dvh;
  min-height: 668px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  place-items: center;

  margin-block-start: 40px;
}

.footer__title {
  font-weight: var(--font-weight-bold);

  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  line-height: 83%;
  color: var(--secondary-color);

  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 1024px) {
  .footer__title {
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  }
}
