/* Глобальные стили для проекта, их можно дополнять и менять по желанию */
@import "./header.css";
@import "./main.css";
@import "./footer.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: var(--font-family-main);

  min-inline-size: var(--min-width);
  max-inline-size: var(--max-width);

  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
}
