.header {
  position: relative;

  height: 100dvh;
  min-height: 668px;

  padding: var(--content-padding-s);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;

  margin-block-end: var(--margin-block-end-s);
}

.corner::after,
.corner::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;

  border-color: var(--border-color);

  border-style: solid;
}

.corner::before {
  top: 10px;
  right: 10px;
  border-width: 1px 1px 0 0;
}

.corner::after {
  left: 10px;
  bottom: 10px;
  border-width: 0 0 1px 1px;
}

.header__theme-menu {
  justify-self: flex-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;

  gap: var(--gap-s);
}

.header__theme-menu-button {
  padding: 2px 13px;

  color: var(--accent-text-color);

  font-weight: var(--font-weight-regular);

  font-size: var(--font-size-s);
  line-height: 18px;

  text-transform: lowercase;

  border: 1px solid transparent;
  background: transparent;

  cursor: pointer;

  transition: border-color var(--transition-duration) ease-in-out;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border-color: color-mix(in srgb, var(--border-color) 40%, transparent);
}

.header__theme-menu-button_active {
  border-color: var(--border-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border-color);
}

.headline {
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  color: var(--secondary-color);

  font-weight: var(--font-weight-bold);

  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.subtitle {
  align-self: center;
}

.subtitle span {
  display: block;
}

.title-decor {
  background-color: var(--accent-color);
  font-weight: var(--font-weight-bold);

  font-size: var(--font-size-s);
  line-height: 23.4px;

  color: var(--text-secondary-color);
}

.rec {
  display: block;

  position: absolute;
  top: 10px;
  right: 20px;

  align-items: center;

  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-s);

  line-height: 25px;

  color: var(--accent-color);
}

.rec::after {
  content: "";
  display: inline-block;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin-left: 10px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

@media (width >= 768px) {
  .header {
    grid-template-columns: repeat(2, 1fr);

    padding: var(--content-padding-m);

    margin-block-end: var(--margin-block-end-m);
  }

  .header__theme-menu {
    grid-column: 2 / 3;
  }

  .headline {
    grid-column: 1 / -1;

    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);

    margin-left: -20px;
  }

  .rec {
    top: 20px;
    right: 30px;
  }

  .subtitle {
    grid-column: 2 / 3;
  }

  .corner::before {
    top: 20px;
    right: 20px;
  }

  .corner::after {
    left: 20px;
    bottom: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-columns: repeat(4, 1fr);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;

    grid-column: 2 / 4;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .subtitle {
    grid-column: -3 / -1;
  }
}
